:root {
    --main-bg-colour: rgb(148, 180, 164);
    --nav-text: rgb(35, 98, 88);
}

.no-padding {
    padding: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.jumbo-style {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-bg {
    background-color: var(--main-bg-colour);
}

@font-face {
    font-family: 'Megrim Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Megrim Medium'), url('../font/Megrim.woff') format('woff');
}

.main-bg {
    background-color: var(--main-bg-colour);
}

.page-header {
    background-color: var(--main-bg-colour);
}


.text-block {
    background-color: #fff;
}

.jumbo-font {
    font-family: 'Megrim Medium';
    font-size: clamp(1.5rem, 0.8056rem + 2.2222vw, 2.75rem);
}

.header-font {
    font-family: 'Megrim Medium', sans-serif;
    font-size: 4rem !important;
    color: var(--nav-text) !important;
    text-shadow: 2px 2px 2px #fff;
    text-decoration: overline underline;
    text-underline-offset: 0.5rem;
    margin-top: 1rem !important;
    margin-bottom: 0 !important;
}

.sub-header-font {
    color: #000;
    text-shadow: 3px 3px 3px #fff;
}

.nav-bg {
    background-color: var(--main-bg-colour) !important;
}

.content-bg {
    background-color: var(--main-bg-colour)
}

.text-header {
    font-family: 'Megrim Medium', sans-serif;
}

.mainSection {
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.carousel-inner>.carousel-item>img {
    max-height: 65vh;
    object-fit: cover;
}

.image-block {
    padding-right: 0 !important;
    padding-left: 0 !important;
    display: contents;
}

.text-block {
    position: relative;
    top: 1rem;
    left: -3rem;
    font-family: 'Anton', sans-serif;
}

.text-header {
    text-align: center;
    font-size: 60px;
    padding-bottom: 2rem;
}

.text-body {
    padding-left: 15%;
    padding-right: 15%;
}

.btn-row {
    text-align: center;
    margin-bottom: 10px !important;
}

.btn-open {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.text-reset {
    text-decoration: none;
}

.style-content {
    min-height: 300px;
}

.card {
    -webkit-box-shadow: 2px 2px 2px 2px var(--main-bg-colour);
    box-shadow: 2px 2px 2px 2px var(--main-bg-colour);
}

nav {
    -webkit-box-shadow: 2px 2px 0px 2px #000;
    box-shadow: 2px 2px 0px 2px #000;
}

.home-img {
    object-fit: cover;
    object-position: center;
}

.invisi-img {
    object-fit: contain !important;
}

.footer-text {
    font-size: 1rem;
    margin-top: 0;
    line-height: 1.2;
}

.styling-text {
    font-size: 1.25rem;
    margin-top: 0;
    line-height: 1.2;
    font-weight: 500;
}

.footer-link {
    text-decoration: none;
    color: #000;
}

.card-margin {
    margin-right: 1rem;
}

@media (max-width: 768px) {
    .btn {
        margin-bottom: 10px !important;
    }
}

@media (max-width: 1200px) {
    .card-margin {
        margin-right: 0;
    }
}