:root {
    --main-bg-colour: rgb(148, 180, 164);
    --nav-text: rgb(35, 98, 88);
}

@font-face {
    font-family: 'Megrim Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Megrim Medium'), url('../font/Megrim.woff') format('woff');
}

.page-header {
    background-color: var(--main-bg-colour);
}

.header-font {
    font-family: 'Megrim Medium', sans-serif;
    font-size: 4rem !important;
    color: var(--nav-text) !important;
    text-shadow: 2px 2px 2px #fff;
    text-decoration: overline underline;
    text-underline-offset: 0.5rem;
    margin-top: 1rem !important;
    margin-bottom: 0 !important;
}

.sub-header-font {
    color: #fff;
    text-shadow: 2px 2px 2px var(--nav-text);
}

.nav-bg {
    background-color: var(--main-bg-colour) !important;
}