:root {
    --main-bg-colour: rgb(148, 180, 164);
    --nav-text: rgb(35, 98, 88);
}

.no-padding {
    padding: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.jumbo-style {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-bg {
    background-color: var(--main-bg-colour);
}

@font-face {
    font-family: 'Megrim Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Megrim Medium'), url('../font/Megrim.woff') format('woff');
}

.main-bg {
    background-color: var(--main-bg-colour);
}

.page-header {
    background-color: var(--main-bg-colour);
}

.text-block {
    background-color: #fff;
}

.jumbo-font {
    font-family: 'Megrim Medium';
    font-size: clamp(1rem, 0.0278rem + 3.1111vw, 2.75rem);
}

.header-font {
    font-family: 'Megrim Medium', sans-serif;
    font-size: 4rem !important;
    color: var(--nav-text) !important;
    text-shadow: 2px 2px 2px #fff;
    text-decoration: overline underline;
    text-underline-offset: 0.5rem;
    margin-top: 1rem !important;
    margin-bottom: 0 !important;
}

.sub-header-font {
    color: #fff;
    text-shadow: 2px 2px 2px var(--nav-text);
}

.nav-bg {
    background-color: var(--main-bg-colour) !important;
}

.content-bg {
    background-color: var(--main-bg-colour)
}

.text-header {
    font-family: 'Megrim Medium', sans-serif;
}

.mainSection {
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.carousel-inner>.carousel-item>img {
    max-height: 65vh;
    object-fit: cover;
}

.image-block {
    padding-right: 0 !important;
    padding-left: 0 !important;
    display: contents;
}

.text-block {
    position: relative;
    top: 1rem;
    left: -3rem;
    font-family: 'Anton', sans-serif;
}

.text-header {
    text-align: center;
    font-size: 60px;
    padding-bottom: 2rem;
}

.text-body {
    padding-left: 15%;
    padding-right: 15%;
}

.btn-row {
    text-align: center;
    margin-bottom: 10px !important;
}

.btn-open {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.text-reset {
    text-decoration: none;
}