{% extends "base.html" %}{% block title %}Colouring Services | Mactwo Hairdressing{% endblock %}
{%block content %}
<section>
    <div class="container mainSection">
        <div class="row no-gutters">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding">
                <!--img-->
                <img src="{{ url_for('static', filename='img/retouch.webp')}}" alt="demo-img" class="img-fluid w-100">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding">
                <!--text-->
                <div class="jumbotron jumbotron-fluid jumbo-style main-bg ">
                    <div class="container">
                        <h3 class="text-center jumbo-font">
                            RETOUCH</h3>
                        <hr>
                        <p class="text-center">Retouch is where we colour the natural root/ regrowth.</p>
                        <p class="text-center">All new guests, or guests that have not had a colour in the past 6
                            months, need a skin test 48 hours prior to any colour service.</p>
                        <p class="text-center">You will also need to add either a blow dry or cut and blow dry to any
                            colour services. </p>
                        <p class="text-center">From £30</p>
                    </div>
                </div>
            </div>
        </div>

        <!--2-->
        <div class="row no-gutters">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding">
                <!--text-->
                <div class="jumbotron jumbotron-fluid jumbo-style main-bg ">
                    <div class="container">
                        <h3 class="text-center jumbo-font">
                            MAKE ME BRIGHTER</h3>
                        <hr>
                        <p class="text-center">This will lighten around your face for that instant brightness. </p>
                        <p class="text-center">All new guests, or guests that have not had a colour in the past 6
                            months, need a skin test 48 hours prior to any colour service.</p>
                        <p class="text-center">You will also need to add either a blow dry or cut and blow dry to any
                            colour services. </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding">
                <!--img-->
                <img src="{{ url_for('static', filename='img/brighter.webp')}}" alt="demo-img" class="img-fluid w-100">
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding">
                <!--img-->
                <img src="{{ url_for('static', filename='img/free.webp')}}" alt="demo-img" class="img-fluid w-100">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding">
                <!--text-->
                <div class="jumbotron jumbotron-fluid jumbo-style main-bg ">
                    <div class="container">
                        <h3 class="text-center jumbo-font">
                            LET ME FEEL FREE SOFT</h3>
                        <hr>
                        <p class="text-center">Free hand special. Ideal for those guest that want low maintenance or
                            natural colour. Half head balayage.</p>
                        <p class="text-center">All new guests, or guests that have not had a colour in the past 6
                            months, need a skin test 48 hours prior to any colour service.</p>
                        <p class="text-center">You will also need to add either a blow dry or cut and blow dry to any
                            colour services. </p>
                    </div>
                </div>
            </div>
        </div>

        <!--2-->
        <div class="row no-gutters">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding">
                <!--text-->
                <div class="jumbotron jumbotron-fluid jumbo-style main-bg ">
                    <div class="container">
                        <h3 class="text-center jumbo-font">
                            LET ME FEEL FREE</h3>
                        <hr>
                        <p class="text-center">Free hand special. Ideal for those guest that want low maintenance or
                            natural colour. </p>
                        <p class="text-center">All new guests, or guests that have not had a colour in the past 6
                            months, need a skin test 48 hours prior to any colour service.</p>
                        <p class="text-center">You will also need to add either a blow dry or cut and blow dry to any
                            colour services. </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding">
                <!--img-->
                <img src="{{ url_for('static', filename='img/soft.webp')}}" alt="demo-img" class="img-fluid w-100">
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding">
                <!--img-->
                <img src="{{ url_for('static', filename='img/light_up_soft.webp')}}" alt="demo-img"
                    class="img-fluid w-100">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding">
                <!--text-->
                <div class="jumbotron jumbotron-fluid jumbo-style main-bg ">
                    <div class="container">
                        <h3 class="text-center jumbo-font">
                            LIGHT ME UP SOFT</h3>
                        <hr>
                        <p class="text-center">Ideal for guests that like multi tonal blonde highlights. This will offer
                            this look to you. </p>
                        <p class="text-center">All new guests, or guests that have not had a colour in the past 6
                            months, need a skin test 48 hours prior to any colour service.</p>
                        <p class="text-center">You will also need to add either a blow dry or cut and blow dry to any
                            colour services. </p>
                    </div>
                </div>
            </div>
        </div>

        <!--2-->
        <div class="row no-gutters">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding">
                <!--text-->
                <div class="jumbotron jumbotron-fluid jumbo-style main-bg ">
                    <div class="container">
                        <h3 class="text-center jumbo-font">
                            LIGHT ME UP</h3>
                        <hr>
                        <p class="text-center">Highlights are ideal for guests that like multi tonal blondes. </p>
                        <p class="text-center">All new guests, or guests that have not had a colour in the past 6
                            months, need a skin test 48 hours prior to any colour service.</p>
                        <p class="text-center">You will also need to add either a blow dry or cut and blow dry to any
                            colour services. </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding">
                <!--img-->
                <img src="{{ url_for('static', filename='img/light_up.webp')}}" alt="demo-img" class="img-fluid w-100">
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding">
                <!--img-->
                <img src="{{ url_for('static', filename='img/colour.webp')}}" alt="demo-img" class="img-fluid w-100">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding">
                <!--text-->
                <div class="jumbotron jumbotron-fluid jumbo-style main-bg ">
                    <div class="container">
                        <h3 class="text-center jumbo-font">
                            COLOUR ME</h3>
                        <hr>
                        <p class="text-center">Full head colour with either view Demi permanent or mask permanent or a
                            new colour ammonia free permanent colour.</p>
                        <p class="text-center">All new guests, or guests that have not had a colour in the past 6
                            months, need a skin test 48 hours prior to any colour service.</p>
                        <p class="text-center">You will also need to add either a blow dry or cut and blow dry to any
                            colour services. </p>
                    </div>
                </div>
            </div>
        </div>

        <!--2-->
        <div class="row no-gutters">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding">
                <!--text-->
                <div class="jumbotron jumbotron-fluid jumbo-style main-bg ">
                    <div class="container">
                        <h3 class="text-center jumbo-font">
                            SPECIAL BLONDES</h3>
                        <hr>
                        <p class="text-center">This is full head blonde use progress and tolerance then toned.</p>
                        <p class="text-center">All new guests, or guests that have not had a colour in the past 6
                            months, need a skin test 48 hours prior to any colour service.</p>
                        <p class="text-center">You will also need to add either a blow dry or cut and blow dry to any
                            colour services. </p>

                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding">
                <!--img-->
                <img src="{{ url_for('static', filename='img/special.webp')}}" alt="demo-img" class="img-fluid w-100">
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding">
                <!--img-->
                <img src="{{ url_for('static', filename='img/correction.webp')}}" alt="demo-img"
                    class="img-fluid w-100">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding">
                <!--text-->
                <div class="jumbotron jumbotron-fluid jumbo-style main-bg ">
                    <div class="container">
                        <h3 class="text-center jumbo-font">
                            COLOUR CORRECTION</h3>
                        <hr>
                        <p class="text-center">Wanting to change your hair colour?</p>
                        <p class="text-center">You will need a consultation!</p>
                        <p class="text-center">Any colour correction or colour change is a journey it doesn't alway
                            happen over night!</p>
                        <p class="text-center">Give us a call or book a consultation. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}