{% extends "base.html" %}{% block title %}Other Services | Mactwo Hairdressing{% endblock %}
{%block content %}
<section>
    <div class="container mainSection">
        <!-- HAIR EXTENSIONS SECTION -->
        <div class="row no-gutters">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding text-center">
                <!--img-->
                <img src="{{ url_for('static', filename='img/invisi.webp')}}" alt="Invisible Weave logo"
                    class="img-fluid w-75 h-100 home-img invisi-img">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding">
                <!--text-->
                <div class="jumbotron jumbotron-fluid jumbo-style main-bg ">
                    <div class="container">
                        <h3 class="text-center jumbo-font mt-2">
                            HAIR EXTENSIONS</h3>
                        <hr>
                        <p class="text-center">If your hair is not quite long enough or is not full enough Mactwo have
                            the solution.</p>
                        <p class="text-center">We offer wide range of hair extensions from Beauty Works and Remi Cachet
                        </p>
                        <p class="text-center">From clip ins to nano rings, micro rings and invisible weave. </p>
                        <p class="text-center fs-5"> Speak to us for more information. </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- BEAUTY - MD AND UP -->
        <div class="row no-gutters">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 d-none d-sm-block no-padding">
                <!--text-->
                <div class="jumbotron jumbotron-fluid jumbo-style main-bg ">
                    <div class="container">
                        <h3 class="text-center jumbo-font mt-2">
                            BEAUTY</h3>
                        <hr>

                        <p class="text-center">Check out the service that Brown Offers for all you beauty needs </p>
                        <img src="{{ url_for('static', filename='img/brown_logo.webp')}}" alt="Brown products logo"
                            class="img-fluid w-50 mx-auto d-block h-100 home-img">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 d-none d-sm-block no-padding">
                <!--img-->
                <img src="{{ url_for('static', filename='img/brown.webp')}}"
                    alt="An image of multiple Brown products on a wooden board." class="img-fluid w-100 h-100 home-img">
            </div>
        </div>
        <!-- BEAUTY - SM AND DOWN -->
        <div class="row no-gutters">
            <div class="col-xs-6 col-sm-6 d-sm-none no-padding">
                <!--img-->
                <img src="{{ url_for('static', filename='img/brown.webp')}}"
                    alt="An image of multiple Brown products on a wooden board." class="img-fluid w-100 h-100 home-img">
            </div>
            <div class="col-xs-6 col-sm-6 d-sm-none no-padding">
                <!--text-->
                <div class="jumbotron jumbotron-fluid jumbo-style main-bg ">
                    <div class="container">
                        <h3 class="text-center jumbo-font mt-2">
                            BEAUTY</h3>
                        <hr>

                        <p class="text-center">Check out the service that Brown Offers for all you beauty needs </p>
                        <img src="{{ url_for('static', filename='img/brown_logo.webp')}}" alt="Brown products logo."
                            class="img-fluid w-50 mx-auto d-block h-100 home-img">
                    </div>
                </div>
            </div>

        </div>
        <!-- HAIR TREATMENTS SECTION -->
        <div class="row no-gutters">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding">
                <!--img-->
                <img src="{{ url_for('static', filename='img/treatment.webp')}}" alt="A compass laying on some fabric."
                    class="img-fluid w-100 h-100 home-img">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding">
                <!--text-->
                <div class="jumbotron jumbotron-fluid jumbo-style main-bg ">
                    <div class="container">
                        <h3 class="text-center jumbo-font mt-2">
                            HAIR TREATMENTS</h3>
                        <hr>
                        <p class="text-center">We off a wide range of hair treatments whether you want a salon only one
                            or to pick up one for a pamper session at home. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}